html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: 500;
    color: #333;
}

label {
    width: 100px;
    display: block;
    font-weight: bold;
    color: #666666;
}

#main {
    margin: 0 auto;
    width: 800px;
}

a {
    color: #2f889a;
    text-decoration: none;
}

.input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #999999;
    width: 200px;
    margin-bottom: 10px;
}

input::-ms-clear, textarea::-ms-clear {
    display: none;
}

.button {
    padding: 10px;
    background-color: #5fcf80 !important;
    border-color: #3ac162 !important;
}

.msg {
    font-size: 11px;
    color: #666;
    padding: 10px;
}

/* --------------------------------

Start Review Form Style

 -------------------------------- */

.review-modal {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, 0.9);
    z-index: 3;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
    -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
    transition: opacity 0.3s 0, visibility 0 0.3s;
}

.review-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.review-modal.is-visible .user-modal-window {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0;
}

.review_form {
    padding: 1.4em;

}

.review_form .fieldset {
    position: relative;
    margin: 1.4em 0;
}

.review_form .fieldset:first-child {
    margin-top: 0;
}

.review_form .fieldset:last-child {
    margin-bottom: 0;
}

.review_form label {
    font-size: 14px;
}

.review_form textarea {
    font-size: 12px;
}

.review_form input {
    margin: 0;
    padding: 0;
    border-radius: 0.25em;
}

.user-modal-window {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #FFF;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: 0.25em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

#review-show-form {
    display: none;
}

#review-show-form.is-selected {
    display: block;
}

/* --------------------------------
 obj in form review
 -------------------------------- */

.label-review {
    width: 150px;
    font-family: Poppins-SemiBold;
    font-size: 18px;
    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}

.input-review {
    display: block;
    width: 100%;
    height: 50px;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;
    color: #555555;
    line-height: 1.2;
    padding: 0 2px;
}

.submit {
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    width: 240px;
    margin: 0 auto;
    height: 300%;
    background: #e8519e;
    background: -webkit-linear-gradient(top, #f1bff5, #39f572, #39f572, #39f572);
    background: -o-linear-gradient(top, #39f572, #c77ff2, #39f572, #c77ff2);
    background: -moz-linear-gradient(top, #39f572, #c77ff2, #39f572, #c77ff2);
    background: linear-gradient(top, #39f572, #c77ff2, #39f572, #c77ff2);
    bottom: -100%;
    left: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input-buttom {
    border-radius: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 244px;
    height: 50px;
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    background: transparent;
}

/* --------------------------------

End Review Form Style

 -------------------------------- */

/* --------------------------------

Start Review draw Style

 -------------------------------- */

.conteiner-inner {
    width: 750px;
    padding: 0 15px 15px 15px;
    margin: 0 auto;
    border: 2px solid #39f572;

}

.comment-pic {
    border-radius: 12px;
    width: 50px;
    height: 50px;
}

.nikname {
    margin: 18px;
    font-size: large;
}

.l-toggle {
    padding-bottom: 12px;

}

.l-caption {
    height: 170px;
    line-height: 1.6;
    display: flex;
}

.l-caption label.list {
    width: 185px;
    cursor: pointer;
    color: #005b7f;
    border-bottom: 1px dashed;
    margin-top: 30px;
    margin-left: auto
}

.l-list {
    width: 185px;
    cursor: pointer;
    color: #005b7f;
    border-bottom: 1px dashed;
    margin-top: 30px;
    margin-left: auto
}

.l-caption .review-pic {
    width: 250px;
    height: 100%;
    margin-right: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

.l-caption-hide {
    line-height: 1.4;
    margin: 5px 10px;

}

.comment-review {
    display: flex;
}

.comment-hide {
    display: none;
}

.comment-hide + label + div {
    display: none;
}

.comment-hide:checked + label + div {
    display: flex;
    background: #efefef;
    -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
    -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
    box-shadow: inset 3px 3px 10px #7d8e8f;
    padding: 10px;
    margin: 15px 5px;
}

.hr {
    display: block;
    unicode-bidi: isolate;
    overflow: hidden;
    border: 1px dashed #ccc;
    margin: 15px 0;
}

/* --------------------------------

End Review draw Style

 -------------------------------- */

.block-rating {
    margin: 10px auto;
    width: 300px;
    display: block;

}

em {
    display: none;
}

/* --------------------------------

Start Page content Style

 -------------------------------- */
/* START  Carousel Style */
.carousel{
    max-width: 300px;
    max-height: 250px;
    padding: 1px;
}
.carousel-item{
    background: #333;
    text-align: center;
    width: 300px;
    height: 250px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carousel-indicators li {
    width: 12px;
    height: 12px;
    border-radius: 80%;
    bottom: -10px;
    border: 1px solid black;
}
.carousel-indicators li.active {
    background-color: blueviolet;
}
.img-size-carousel{
    width: 300px;
    height: 250px;
}

/* END Carousel Style */

.logo {
    width: 100px;
    height: 100px;
}

.ul, .li {
    display: block;
    padding: 0;
    margin: 0;
}

.main-conteiner {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #1e1e1e;
}

.nav {
    display: flex;
}

.menu {
    display: flex;
    margin-left: 180px;
}

.menu li {
    font-size: 14px;
    margin-right: 22px;
    margin-top: 40px;
}

.menu li a {
    color: #fff3cd;
    padding: 12px 0;
    text-decoration: none;
}

.menu li.active a,
.menu li a:hover {
    color: #6bff3d;
    border-top: 1px solid #6bff3d;
    border-bottom: 1px solid #6bff3d;

}

.phone {
    margin-left: auto;
    color: #fff3cd;
    margin-top: 40px;
}

.bar {
    width: 1200px;
    margin: 0 auto;
    height: 100px;
}

.left-sbar {
    float: left;
    width: 1000px;
    display: inline-grid;
}

.right-sbar {
    float: right;
    width: 200px;
    height: 200px;
    background: green;

}
.card-container{
    margin: 5px auto;
    display: flex;
    width: 800px;
    height: 250px;
    overflow: hidden;
    border: 1px solid black;
}

.right-descr{
 margin: 5px 15px;
}

.card-main-descr{
    display: flex;
}

.card-category{
    margin-right: 10px;
}
.card-name{

}

/* --------------------------------

END Page content Style

 -------------------------------- */


/* --------------------------------

Start Target Page content Style

 -------------------------------- */

.target_content{
    display: block;
    width: 1200px;
    margin: 0 auto;
}

.tc_head{
    display: flex;

}

.tc_name{

}
.tc_contact{

}


/* --------------------------------

END Target Page content Style

 -------------------------------- */